# Compare Global Cities: New York City, Toronto, London, and Paris

## 1. Objective

New York City, London, Paris and Shanghai are all global cities. I have never been to New York City, London. However I'm quite familiar with Paris and Shanghai. I'm going to compare these four cities to find their similarities and dissimilarities. Expecting I would enjoy more if I had the chance travel to New York City and London.

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## 2. Overall look

#### First, let's compare the four cities on an overall base.

I collect data from Wikipedia pages below:
1. New York City: https://en.wikipedia.org/wiki/New_York_City; https://en.wikipedia.org/wiki/Neighborhoods_in_New_York_City
2. Toronto: https://en.wikipedia.org/wiki/Toronto; https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Toronto
3. London: https://en.wikipedia.org/wiki/London; https://en.wikipedia.org/wiki/List_of_London_boroughs; https://en.wikipedia.org/wiki/London_postal_district
4. Paris: https://en.wikipedia.org/wiki/Paris; https://en.wikipedia.org/wiki/Arrondissements_of_Paris

In [3]:
column_names=['City', 'Population (million)', 'Area (km2)', 'Sub-district numbers', 'Sub-sub-district numbers']#, 'Neighborhood numbers']
cities=pd.DataFrame(columns=column_names)
row_ny=['New York City', 20.0, 784, 5, 57]
row_tr=['Toronto', 2.7, 630, 9, 140]
row_ld=['London', 8.8, 1572, 33, None]
row_pr=['Paris', 2.1, 105, 20, None]
cities.loc[0]=row_ny
cities.loc[1]=row_tr
cities.loc[2]=row_ld
cities.loc[3]=row_pr
cities

,City,Population (million),Area (km2),Sub-district numbers,Sub-sub-district numbers
0,New York City,20.0,784,5,57
1,Toronto,2.7,630,9,140
2,London,8.8,1572,33,None
3,Paris,2.1,105,20,None

1. New York City has 5 *boroughs* and 57 *communities*. Each community has numbers of *neighborhoods*. But their names and borders are not officially defined, and they change from time to time.
2. Toronto has 140 officially recognized *neighbourhoods* in 9 *districts/boroughs*.
3. London area is the largest, it has 32 *boroughs* and City of London. So we can count as 33 boroughs.
4. Paris only have 20 *arrondissements*, somewhat like boroughs in New York City or London, but they are rather small. And it's hard to define smaller units under arrondissement.

But if we analyze nearby venue categories based on this range, it seems make little sense. The areas of smallest units of each city range broad.

#### If we compare the four cities' center parts.

In [4]:
column_names=['City', 'Borough / District', 'Area (km2)', 'Sub-district numbers']
city_centers=pd.DataFrame(columns=column_names)
center_ny=['New York City', 'Manhattan', 59, 40]
center_tr=['Toronto', 'Old Toronto', 97, 38]
center_ld=['London', 'Inner London', 319, 183]
center_pr=['Paris', 'Paris', 105, 22]
city_centers.loc[0]=center_ny
city_centers.loc[1]=center_tr
city_centers.loc[2]=center_ld
city_centers.loc[3]=center_pr
city_centers

            City Borough / District Area (km2) Sub-district numbers
0  New York City          Manhattan         59                   40
1        Toronto        Old Toronto         97                   38
2         London       Inner London        319                  183
3          Paris              Paris        105                   22

Considering Paris is too small, so take the whole Paris as the *center part*. Based on center parts and their sub-districts, venues analysis makes more sense.

#### Based on these small districts, how can I find their similarities?

## 3. Each city's data

#### 3.1 Get New York City's data from former course

We have learn how to get Manhattan's neighborhoods data before. Repeat that process in Newyork python notebook "Newyork.ipynb" and get a dataset like this below.

In [7]:
# @hidden_cell
df_newyork=pd.read_csv("manhattan_neighborhoods.csv", index_col=0)
df_newyork['City']='New York City'
ny_col=df_newyork.columns
ny_col=[ny_col[-1]]+list(ny_col[:-1])
df_newyork=df_newyork[ny_col]
df_newyork

             City    Borough         Neighborhood   Latitude  Longitude
0   New York City  Manhattan          Marble Hill  40.876551 -73.910660
1   New York City  Manhattan            Chinatown  40.715618 -73.994279
2   New York City  Manhattan   Washington Heights  40.851903 -73.936900
3   New York City  Manhattan               Inwood  40.867684 -73.921210
4   New York City  Manhattan     Hamilton Heights  40.823604 -73.949688
5   New York City  Manhattan       Manhattanville  40.816934 -73.957385
6   New York City  Manhattan       Central Harlem  40.815976 -73.943211
7   New York City  Manhattan          East Harlem  40.792249 -73.944182
8   New York City  Manhattan      Upper East Side  40.775639 -73.960508
9   New York City  Manhattan            Yorkville  40.775930 -73.947118
10  New York City  Manhattan           Lenox Hill  40.768113 -73.958860
11  New York City  Manhattan     Roosevelt Island  40.762160 -73.949168
12  New York City  Manhattan      Upper West Side  40.787658 -73.977059
13  New York City  Manhattan       Lincoln Square  40.773529 -73.985338
14  New York City  Manhattan              Clinton  40.759101 -73.996119
15  New York City  Manhattan              Midtown  40.754691 -73.981669
16  New York City  Manhattan          Murray Hill  40.748303 -73.978332
17  New York City  Manhattan              Chelsea  40.744035 -74.003116
18  New York City  Manhattan    Greenwich Village  40.726933 -73.999914
19  New York City  Manhattan         East Village  40.727847 -73.982226
20  New York City  Manhattan      Lower East Side  40.717807 -73.980890
21  New York City  Manhattan              Tribeca  40.721522 -74.010683
22  New York City  Manhattan         Little Italy  40.719324 -73.997305
23  New York City  Manhattan                 Soho  40.722184 -74.000657
24  New York City  Manhattan         West Village  40.734434 -74.006180
25  New York City  Manhattan     Manhattan Valley  40.797307 -73.964286
26  New York City  Manhattan  Morningside Heights  40.808000 -73.963896
27  New York City  Manhattan             Gramercy  40.737210 -73.981376
28  New York City  Manhattan    Battery Park City  40.711932 -74.016869
29  New York City  Manhattan   Financial District  40.707107 -74.010665
30  New York City  Manhattan        Carnegie Hill  40.782683 -73.953256
31  New York City  Manhattan                 Noho  40.723259 -73.988434
32  New York City  Manhattan         Civic Center  40.715229 -74.005415
33  New York City  Manhattan        Midtown South  40.748510 -73.988713
34  New York City  Manhattan         Sutton Place  40.760280 -73.963556
35  New York City  Manhattan           Turtle Bay  40.752042 -73.967708
36  New York City  Manhattan           Tudor City  40.746917 -73.971219
37  New York City  Manhattan      Stuyvesant Town  40.731000 -73.974052
38  New York City  Manhattan             Flatiron  40.739673 -73.990947
39  New York City  Manhattan         Hudson Yards  40.756658 -74.000111

#### 3.2 Get Toronto's data from former assignment

We have done the assignment to get Toronto neighbourhoods data before. Repeat that process in Toronto python notebook "Toronto.ipynb" and get a dataset like this below.

In [12]:
# @hidden_cell
df_toronto=pd.read_csv("old_toronto_neighbourhoods.csv", index_col=0)
df_toronto=df_toronto.reset_index(drop=True)
df_toronto['City']='Toronto'
tr_col=df_toronto.columns
tr_col=[tr_col[-1]]+list(tr_col[:-1])
df_toronto=df_toronto[tr_col]
df_toronto

,City,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,Toronto,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,Toronto,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
2,Toronto,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
3,Toronto,M4M,East Toronto,Studio District,43.659526,-79.340923
4,Toronto,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
5,Toronto,M4P,Central Toronto,Davisville North,43.712751,-79.390197
6,Toronto,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
7,Toronto,M4S,Central Toronto,Davisville,43.704324,-79.388790
8,Toronto,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
9,Toronto,M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",43.686412,-79.400049
10,Toronto,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
11,Toronto,M4X,Downtown Toronto,"Cabbagetown, St. James Town",43.667967,-79.367675
12,Toronto,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
13,Toronto,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
14,Toronto,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
15,Toronto,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,Toronto,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
17,Toronto,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
18,Toronto,M5H,Downtown Toronto,"Adelaide, King, Richmond",43.650571,-79.384568
19,Toronto,M5J,Downtown Toronto,"Harbourfront East, Toronto Islands, Union Station",43.640816,-79.381752
20,Toronto,M5K,Downtown Toronto,"Design Exchange, Toronto Dominion Centre",43.647177,-79.381576
21,Toronto,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",43.648198,-79.379817
22,Toronto,M5N,Central Toronto,Roselawn,43.711695,-79.416936
23,Toronto,M5P,Central Toronto,"Forest Hill North, Forest Hill West",43.696948,-79.411307
24,Toronto,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
25,Toronto,M5S,Downtown Toronto,"Harbord, University of Toronto",43.662696,-79.400049
26,Toronto,M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market",43.653206,-79.400049
27,Toronto,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
28,Toronto,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.646435,-79.374846
29,Toronto,M5X,Downtown Toronto,"First Canadian Place, Underground city",43.648429,-79.382280
30,Toronto,M6G,Downtown Toronto,Christie,43.669542,-79.422564
31,Toronto,M6H,West Toronto,"Dovercourt Village, Dufferin",43.669005,-79.442259
32,Toronto,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
33,Toronto,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village",43.636847,-79.428191
34,Toronto,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
35,Toronto,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
36,Toronto,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
37,Toronto,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558

#### 3.3 Get London's data

1. https://en.wikipedia.org/wiki/London
2. https://en.wikipedia.org/wiki/List_of_London_boroughs
3. https://en.wikipedia.org/wiki/London_postal_district
4. https://www.doogal.co.uk/london_postcodes.php

Links above explain London boroughs and postcode districts. ETL data and get a dataset like this.

In [13]:
# @hidden_cell
df_london=pd.read_csv("london_postcode_districts.csv", index_col=0)
df_london['City']='London'
ld_col=df_london.columns
ld_col=[ld_col[-1]]+list(ld_col[:-1])
df_london=df_london[ld_col]
df_london

London points: 183

,City,Postcode area,Postcode area name,Postcode district,District name,Latitude,Longitude
0,London,E,Eastern,E1,Head district,51.517389,-0.059507
1,London,E,Eastern,E10,Leyton,51.567991,-0.014095
2,London,E,Eastern,E11,Leytonstone,51.568739,0.013628
3,London,E,Eastern,E12,Manor Park,51.550735,0.053017
4,London,E,Eastern,E13,Plaistow,51.527740,0.026491
5,London,E,Eastern,E14,Poplar,51.506080,-0.018702
6,London,E,Eastern,E15,Stratford,51.540511,0.003748
7,London,E,Eastern,E16,Victoria Docks and North Woolwich,51.510764,0.028954
8,London,E,Eastern,E17,Walthamstow,51.586930,-0.020629
9,London,E,Eastern,E18,Woodford and South Woodford,51.592747,0.024935
10,London,E,Eastern,E1W,Head district,51.508901,-0.058863
11,London,E,Eastern,E2,Bethnal Green,51.529580,-0.062566
12,London,E,Eastern,E20,Olympic Park,51.546484,-0.009647
13,London,E,Eastern,E3,Bow,51.527894,-0.025389
14,London,E,Eastern,E4,Chingford,51.620806,-0.005834
15,London,E,Eastern,E5,Clapton,51.559174,-0.053497
16,London,E,Eastern,E6,East Ham,51.526572,0.053903
17,London,E,Eastern,E7,Forest Gate,51.547133,0.027607
18,London,E,Eastern,E8,Hackney,51.543815,-0.066228
19,London,E,Eastern,E9,Homerton,51.544192,-0.042873
20,London,E,NaN,E98,NaN,51.508026,-0.064442
21,London,EC,Eastern Central,EC1A,Head district,51.520270,-0.103835
22,London,EC,Eastern Central,EC1M,Head district,51.521350,-0.102292
23,London,EC,Eastern Central,EC1N,Head district,51.519886,-0.108823
24,London,EC,Eastern Central,EC1P,Head district,51.524565,-0.112038
25,London,EC,Eastern Central,EC1R,Head district,51.524960,-0.108382
26,London,EC,Eastern Central,EC1V,Head district,51.526761,-0.097935
27,London,EC,Eastern Central,EC1Y,Head district,51.523025,-0.092390
28,London,EC,Eastern Central,EC2A,Bishopsgate,51.523703,-0.085719
29,London,EC,Eastern Central,EC2M,Bishopsgate,51.518596,-0.086371
30,London,EC,Eastern Central,EC2N,Bishopsgate,51.515736,-0.085644
31,London,EC,Eastern Central,EC2P,Bishopsgate,51.524208,-0.110722
32,London,EC,Eastern Central,EC2R,Bishopsgate,51.515935,-0.090661
33,London,EC,Eastern Central,EC2V,Bishopsgate,51.515626,-0.093973
34,London,EC,Eastern Central,EC2Y,Bishopsgate,51.519477,-0.093682
35,London,EC,Eastern Central,EC3A,Fenchurch Street,51.514780,-0.080140
36,London,EC,Eastern Central,EC3M,Fenchurch Street,51.511840,-0.082140
37,London,EC,Eastern Central,EC3N,Fenchurch Street,51.511882,-0.076897
38,London,EC,Eastern Central,EC3P,Fenchurch Street,51.524074,-0.110584
39,London,EC,Eastern Central,EC3R,Fenchurch Street,51.510442,-0.083346
40,London,EC,Eastern Central,EC3V,Fenchurch Street,51.512952,-0.085885
41,London,EC,Eastern Central,EC4A,Fleet Street,51.515779,-0.108292
42,London,EC,Eastern Central,EC4M,Fleet Street,51.514211,-0.099284
43,London,EC,Eastern Central,EC4N,Fleet Street,51.512843,-0.091388
44,London,EC,Eastern Central,EC4P,Fleet Street,51.524566,-0.112032
45,London,EC,Eastern Central,EC4R,Fleet Street,51.510809,-0.090387
46,London,EC,Eastern Central,EC4V,Fleet Street,51.512331,-0.099744
47,London,EC,Eastern Central,EC4Y,Fleet Street,51.512945,-0.108790
48,London,N,Northern,N1,Head district,51.537751,-0.097076
49,London,N,Northern,N10,Muswell Hill,51.594821,-0.145065
50,London,N,Northern,N11,New Southgate,51.614403,-0.139697
51,London,N,Northern,N12,North Finchley,51.614897,-0.177605
52,London,N,Northern,N13,Palmers Green,51.618127,-0.104220
53,London,N,Northern,N14,Southgate,51.634285,-0.130797
54,London,N,Northern,N15,South Tottenham,51.582932,-0.080450
55,London,N,Northern,N16,Stoke Newington,51.562551,-0.076647
56,London,N,Northern,N17,Tottenham,51.598127,-0.071637
57,London,N,Northern,N18,Upper Edmonton,51.613882,-0.066649
58,London,N,Northern,N19,Upper Holloway,51.565259,-0.130035
59,London,N,Northern,N1C,Head district,51.536469,-0.125873
60,London,N,Northern,N1P,Head district,51.539011,-0.103400
61,London,N,Northern,N2,East Finchley,51.590070,-0.169299
62,London,N,Northern,N20,Whetstone,51.629261,-0.174349
63,London,N,Northern,N21,Winchmore Hill,51.636708,-0.099737
64,London,N,Northern,N22,Wood Green,51.599876,-0.110334
65,London,N,Northern,N3,Finchley,51.600222,-0.193909
66,London,N,Northern,N4,Finsbury Park,51.570035,-0.104345
67,London,N,Northern,N5,Highbury,51.553869,-0.098600
68,London,N,Northern,N6,Highgate,51.573209,-0.146008
69,London,N,Northern,N7,Holloway,51.553472,-0.118308
70,London,N,Northern,N8,Hornsey,51.582640,-0.120300
71,London,N,NaN,N81,NaN,51.554485,-0.058907
72,London,N,Northern,N9,Lower Edmonton,51.628497,-0.058026
73,London,NW,North Western,NW1,Head district,51.533202,-0.143847
74,London,NW,North Western,NW10,Willesden,51.541289,-0.248045
75,London,NW,North Western,NW11,Golders Green,51.578409,-0.197478
76,London,NW,North Western,NW1W,Head district,51.530784,-0.135427
77,London,NW,North Western,NW2,Cricklewood,51.558123,-0.220276
78,London,NW,NaN,NW26,NaN,51.534061,-0.248132
79,London,NW,North Western,NW3,Hampstead,51.552363,-0.172527
80,London,NW,North Western,NW4,Hendon,51.587353,-0.224313
81,London,NW,North Western,NW5,Kentish Town,51.551855,-0.144852
82,London,NW,North Western,NW6,Kilburn,51.542240,-0.196322
83,London,NW,North Western,NW7,Mill Hill,51.614833,-0.235345
84,London,NW,North Western,NW8,St John's Wood,51.532285,-0.174660
85,London,NW,North Western,NW9,The Hyde,51.588052,-0.255520
86,London,SE,South Eastern,SE1,Head district,51.499206,-0.091435
87,London,SE,South Eastern,SE10,Greenwich,51.484268,-0.000020
88,London,SE,South Eastern,SE11,Kennington,51.489832,-0.111636
89,London,SE,South Eastern,SE12,Lee,51.444676,0.019938
90,London,SE,South Eastern,SE13,Lewisham,51.459482,-0.009613
91,London,SE,South Eastern,SE14,New Cross,51.475862,-0.042511
92,London,SE,South Eastern,SE15,Peckham,51.472737,-0.065615
93,London,SE,South Eastern,SE16,Rotherhithe,51.496614,-0.053034
94,London,SE,South Eastern,SE17,Walworth,51.488178,-0.093216
95,London,SE,South Eastern,SE18,Woolwich,51.484283,0.072585
96,London,SE,South Eastern,SE19,Norwood,51.417980,-0.086138
97,London,SE,South Eastern,SE1P,Head district,51.492777,-0.080151
98,London,SE,South Eastern,SE2,Abbey Wood,51.489680,0.116059
99,London,SE,South Eastern,SE20,Anerley,51.412291,-0.059427
100,London,SE,South Eastern,SE21,Dulwich,51.439035,-0.088768
101,London,SE,South Eastern,SE22,East Dulwich,51.454465,-0.072415
102,London,SE,South Eastern,SE23,Forest Hill,51.441428,-0.049171
103,London,SE,South Eastern,SE24,Herne Hill,51.456467,-0.100206
104,London,SE,South Eastern,SE25,South Norwood,51.397778,-0.076773
105,London,SE,South Eastern,SE26,Sydenham,51.427862,-0.054815
106,London,SE,South Eastern,SE27,West Norwood,51.430578,-0.102382
107,London,SE,South Eastern,SE28,Thamesmead,51.502365,0.104479
108,London,SE,South Eastern,SE3,Blackheath,51.469578,0.019715
109,London,SE,South Eastern,SE4,Brockley,51.460995,-0.035192
110,London,SE,South Eastern,SE5,Camberwell,51.473798,-0.091442
111,London,SE,South Eastern,SE6,Catford,51.438536,-0.016577
112,London,SE,South Eastern,SE7,Charlton,51.484111,0.034328
113,London,SE,South Eastern,SE8,Deptford,51.481878,-0.029546
114,London,SE,South Eastern,SE9,Eltham,51.445112,0.054860
115,London,SW,South Western,SW10,West Brompton,51.483788,-0.182802
116,London,SW,Battersea,SW11,Head district,51.468008,-0.164032
117,London,SW,Battersea,SW12,Balham,51.446289,-0.149127
118,London,SW,Battersea,SW13,Barnes,51.476218,-0.243599
119,London,SW,Battersea,SW14,Mortlake,51.465364,-0.266997
120,London,SW,Battersea,SW15,Putney,51.457055,-0.228439
121,London,SW,Battersea,SW16,Streatham,51.421206,-0.129218
122,London,SW,Battersea,SW17,Tooting,51.430799,-0.164658
123,London,SW,Battersea,SW18,Wandsworth,51.451167,-0.191447
124,London,SW,Battersea,SW19,Wimbledon,51.424169,-0.203040
125,London,SW,South Western,SW1A,Head district,51.504467,-0.132207
126,London,SW,South Western,SW1E,Head district,51.498013,-0.139788
127,London,SW,South Western,SW1H,Head district,51.498308,-0.133608
128,London,SW,South Western,SW1P,Head district,51.490343,-0.132693
129,London,SW,South Western,SW1V,Head district,51.489457,-0.139922
130,London,SW,South Western,SW1W,Head district,51.492525,-0.150841
131,London,SW,South Western,SW1X,Head district,51.498196,-0.156589
132,London,SW,South Western,SW1Y,Head district,51.507358,-0.134558
133,London,SW,South Western,SW2,Brixton,51.449283,-0.119827
134,London,SW,Battersea,SW20,West Wimbledon,51.410925,-0.227663
135,London,SW,South Western,SW3,Chelsea,51.489165,-0.165746
136,London,SW,South Western,SW4,Clapham,51.461101,-0.136492
137,London,SW,South Western,SW5,Earls Court,51.491578,-0.191918
138,London,SW,South Western,SW6,Fulham,51.476630,-0.201262
139,London,SW,South Western,SW7,South Kensington,51.496275,-0.177018
140,London,SW,South Western,SW8,South Lambeth,51.476496,-0.131970
141,London,SW,South Western,SW9,Stockwell,51.469364,-0.113865
142,London,SW,NaN,SW95,NaN,51.480398,-0.136274
143,London,W,Paddington,W10,North Kensington,51.523157,-0.216729
144,London,W,Paddington,W11,Notting Hill,51.512291,-0.215994
145,London,W,Paddington,W12,Shepherds Bush,51.508281,-0.240973
146,London,W,Paddington,W13,West Ealing,51.513000,-0.321161
147,London,W,Paddington,W14,West Kensington,51.494681,-0.210269
148,London,W,Western,W1A,Head district,51.524381,-0.112773
149,London,W,Western,W1B,Head district,51.514350,-0.140943
150,London,W,Western,W1C,Head district,51.514499,-0.148926
151,London,W,Western,W1D,Head district,51.513332,-0.132756
152,London,W,Western,W1F,Head district,51.513476,-0.136473
153,London,W,Western,W1G,Head district,51.519322,-0.148273
154,London,W,Western,W1H,Head district,51.517682,-0.161109
155,London,W,Western,W1J,Head district,51.507926,-0.144956
156,London,W,Western,W1K,Head district,51.511127,-0.151033
157,London,W,Western,W1S,Head district,51.511193,-0.142391
158,London,W,Western,W1T,Head district,51.520257,-0.136716
159,London,W,Western,W1U,Head district,51.518681,-0.153492
160,London,W,Western,W1W,Head district,51.519218,-0.140861
161,London,W,Paddington,W2,Head district,51.514917,-0.186622
162,London,W,Paddington,W3,Acton,51.510595,-0.268027
163,London,W,Paddington,W4,Chiswick,51.491186,-0.263986
164,London,W,Paddington,W5,Ealing,51.513158,-0.302455
165,London,W,Paddington,W6,Hammersmith,51.492610,-0.228591
166,London,W,Paddington,W7,Hanwell,51.511837,-0.335933
167,London,W,Paddington,W8,Kensington,51.501132,-0.194326
168,London,W,Paddington,W9,Maida Hill,51.524825,-0.192627
169,London,WC,Western Central,WC1A,Head district,51.520094,-0.120492
170,London,WC,Western Central,WC1B,Head district,51.519473,-0.125942
171,London,WC,Western Central,WC1E,Head district,51.521745,-0.132455
172,London,WC,Western Central,WC1H,Head district,51.526893,-0.125545
173,London,WC,Western Central,WC1N,Head district,51.522916,-0.119714
174,London,WC,Western Central,WC1R,Head district,51.519620,-0.115828
175,London,WC,Western Central,WC1V,Head district,51.518241,-0.116578
176,London,WC,Western Central,WC1X,Head district,51.526717,-0.115164
177,London,WC,Western Central,WC2A,Strand,51.516228,-0.114221
178,London,WC,Western Central,WC2B,Strand,51.514924,-0.120439
179,London,WC,Western Central,WC2E,Strand,51.511873,-0.123360
180,London,WC,Western Central,WC2H,Strand,51.513320,-0.127412
181,London,WC,Western Central,WC2N,Strand,51.509085,-0.124897
182,London,WC,Western Central,WC2R,Strand,51.511688,-0.118318

#### 3.4 Get Paris's data

Paris have 20 arrondissements, each arrondissement's information is in the link on this web page: http://zip-code.en.mapawi.com/france/1/arrondissement-de-paris/3/150/. Do web scraping and make a dataset like this.

In [79]:
# @hidden_cell
df_paris=pd.read_csv("paris_arrondissements.csv", index_col=0)
df_paris['City']='Paris'
pr_col=df_paris.columns
pr_col=[pr_col[-1]]+list(pr_col[:-1])
df_paris=df_paris[pr_col]
df_paris

Paris points: 22

,City,Arrondissement,Name,Zip code,Latitude,Longitude,Area (km2)
0,Paris,1st,Louvre,75001,48.8592,2.3417,1.83
1,Paris,2nd,Bourse,75002,48.8655,2.3426,0.99
2,Paris,3rd,Temple,75003,48.8637,2.3615,1.17
3,Paris,4th,Htel-de-Ville,75004,48.8601,2.3507,1.60
4,Paris,5th,Panthon,75005,48.8448,2.3471,2.54
5,Paris,6th,Luxembourg,75006,48.8493,2.3300,2.15
6,Paris,7th,Palais-Bourbon,75007,48.8565,2.3210,4.09
7,Paris,8th,lyse,75008,48.8763,2.3183,3.88
8,Paris,9th,Opra,75009,48.8718,2.3399,2.18
9,Paris,10th,Entrept,75010,48.8709,2.3561,2.89
10,Paris,11th,Popincourt,75011,48.8574,2.3795,3.67
11,Paris,12th,Reuilly,75012,48.8412,2.3876,6.37
12,Paris,13th,Gobelins,75013,48.8322,2.3561,7.15
13,Paris,14th,Observatoire,75014,48.8331,2.3264,5.62
14,Paris,15th,Vaugirard,75015,48.8412,2.3003,8.50
15,Paris,16th,Passy,"75016, 75116",48.8637,2.2769,7.84
16,Paris,17th,Batignolles-Monceau,75017,48.8835,2.3219,5.67
17,Paris,18th,Buttes-Montmartre,75018,48.8925,2.3444,6.00
18,Paris,19th,Buttes-Chaumont,75019,48.8817,2.3822,6.79
19,Paris,20th,Mnilmontant,75020,48.8646,2.3984,5.98
20,Paris,12th,Bois-de-Vincenne,77012,48.8283,2.4330,9.95
21,Paris,16th,Bois-de-Boulogne,77016,48.8624,2.2492,8.46

#### 3.5 Aggregate all cities' data into one dataset.

In [80]:
# @hidden_cell
cols=['City', 'District', 'Sub-district', 'Latitude', 'Longitude']
all_districts=pd.DataFrame(columns=cols)

df1=df_newyork[:]
df1.columns=cols

df2=df_toronto[['City', 'Borough', 'PostalCode', 'Latitude', 'Longitude']]
df2.columns=cols

df3=df_london[['City', 'Postcode area', 'Postcode district', 'Latitude', 'Longitude']]
df3.columns=cols

df4=df_paris[['City', 'Arrondissement', 'Name', 'Latitude', 'Longitude']]
df4.columns=cols

all_districts=pd.concat([df1,df2,df3,df4])
all_districts.head()

            City   District        Sub-district   Latitude  Longitude
0  New York City  Manhattan         Marble Hill  40.876551 -73.910660
1  New York City  Manhattan           Chinatown  40.715618 -73.994279
2  New York City  Manhattan  Washington Heights  40.851903 -73.936900
3  New York City  Manhattan              Inwood  40.867684 -73.921210
4  New York City  Manhattan    Hamilton Heights  40.823604 -73.949688

In [81]:
# @hidden_cell
all_districts.shape

(283, 5)